SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/opsdesk
SPRING_DATASOURCE_USERNAME=opsdesk
SPRING_DATASOURCE_PASSWORD=opsdesk
JWT_SECRET=a92ea0bd2ae2fd3fe9c455d882205332
JWT_EXPIRATION_MINUTES=120
CORS_ALLOWED_ORIGINS=http://localhost:4200
PORT=8080
